PathFinder.Test/bin*
PathFinder.Test/obj*
PathFinder/bin*
PathFinder/obj*
*.gpState
*.Cache
*.suo
*.user
*_ReSharper*
PathFinder.Test/TestResult.xml
PathFinder.Test/PathFinder.Test.csproj.VisualState.xml
